* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: linear-gradient(to bottom right, #EA45BF, #EA4573, #DE3A3E);
}
/*Header*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 10%;
    min-height: 100px;
    width: 100%;
    border-bottom: 2px solid #5F100F;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: white;
}

#tabla-banner {
    width: 100%;
}

.logo {
    position: relative;
    left: 0;
    top: 0;
    width: 30vh;
}

.derecha {
    text-align: end;
    position: relative;
    padding-right: 5%;
    top: 0;
}
.derecha img {
    width: 30px;
}
.derecha a {
    display: inline-block;
    transition: 0.3s;
}
.derecha a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/*Contenedor del carrito*/
.carrito {
    padding: 1em;
    height: max-content;
    margin: 5px auto;
    border: 2px solid #5F100F;  
    border-radius: 10px;
    width: 80%;
    background-color: white;
}
.carrito a {
    display: inline-block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 25px;
    transition: all 0.3s;
}
.carrito a::before {
    content: "↩";
    margin-right: 5px;
    text-decoration: none;
}
.carrito a:hover {
    text-shadow: 0px 0px 5px #EA4573;
    transform: scale(1.05);
}

/*Contenedor de los libros*/
.productos {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 140px;
    margin: 10px auto;
    border-radius: 5px;
    transition: 0.3s;
}
.producto img {
    width: 100px;
    object-fit: cover;
    height: 150px;
    border-radius: 5px;
}
.producto:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px #EA4573;
    transition: 0.3s;
}
.producto button {
    background: linear-gradient(to bottom right, #EA45BF, #EA4573, #DE3A3E);
    color: white;
    width: 90%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.producto button:hover {
    box-shadow: 0px 0px 5px #EA4573;
    transition: 0.3s;
}

/*Contenedor de la compra*/
.resumen {
    display: flex;
    flex-direction: column;
    border: 2px solid #5F100F;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 10px auto;
    background-color: white;
}
.resumen button {
    background: linear-gradient(to bottom right, #EA45BF, #EA4573, #DE3A3E);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.resumen button:hover {
    box-shadow: 0px 0px 5px #EA4573;
    transition: 0.3s;
}

/*Footer*/
.multiversal {
    display: flex;
    border-top: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5%;
    gap: 8%;
}
.multiversal div {
    width: 250px;
    padding: 10px;
}

.imachine {
    opacity: 0.5;
}

footer img {
    width: 10%;
}
footer span {
    font-weight: bold;
}

.creditos {
    display: flex;
    font-size: medium;
    padding-left: 6%;
    padding-right: 6%;
    background-color: rgb(245, 242, 242);
}
.creditos img {
    width: 80px;
}
.creditos table {
    width: 100%;
    table-layout: fixed;
}

.sm {
    width: 25px;
}

/*Media querie*/
@media (max-width: 1024px) {
    .banner {
        height: 20%;
    }
    .logo {
        width: 20vh;
    }
    .derecha img {
        width: 20px;
    }
    .carrito a {
        font-size: 20px;
    }
    .carrito {
        font-size: 12px;
        width: 90%;
    }
    .productos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        width: 100%;
    }
    .producto {
        width: 100px;
        font-size: 10px;
    }
    .producto h2 {
        font-size: 14px;
    }
    .resumen {
        font-size: 15px;
        width: 90%;
    }
    .multiversal {
        flex-wrap: wrap;
    }
    .creditos img {
        width: 60px;
    }
}