* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra {
    position: relative;
    height: 10%;
    min-height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
}

#logo {
    position: relative;
    left: 0;
    top: 0;
}
#logo img {
    height: 6em;
}

#usuario {
    display: inline-block;
    position: absolute;
    width: 10em;
    right: 4em;
    top: 0.3em;
    padding: 5px;    
    border: 1px solid black;
    border-radius: 6px;
    text-align: start;
}
#usuario img {
    margin: 0 auto;
    width: 2em;
}
#usuario a {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    padding-left: 1px;
    transition: 0.3s;
}
#usuario a:hover {
    transform: scale(1.06);
    text-decoration: underline;
    color: #ff0000;
    transition: 0.3s;
}
