html {
    scroll-behavior: smooth;
    background: linear-gradient(#EA45BF, #EA4573, #DE3A3E);
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 5px 10px #DE3A3E88;
    border-bottom: 2px solid #5F100F;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.banner table {
    width: 100%;
    table-layout: fixed;
}

.banner .centro {
    text-align: center;
}

.banner .derecha {
    text-align: end;
}

.banner input {
    border: 2px solid #EA4573;
    border-radius: 10px;
    padding: 5px;
    width: 30vw;
}

.logo {
    width: 30vh;
}

.search-bar {
    color: #EA4573;
}

.banner a {
    text-decoration: none;
}

.icono {
    width: 30px;
    margin-right: 5%;
    transition: all 0.3s ease-out;
}

.icono:hover {
    transform: scale(1.1);
}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.Menu-Izquierda, .Menu-Derecha{
    display: flex;
    gap: 35px;
}
.Menu-Izquierda a, .Menu-Derecha a{
    text-decoration: none;
    color: rgb(219, 74, 147);

    font-size: 18px;
    font-weight: bold;

    transition: .3s;
}
.Menu-Izquierda a:hover, .Menu-Derecha a:hover{
     color: #ffd166;
}

.Menu{
    display: flex;
    gap: 45px;
}
.Menu a{

    text-decoration:none;
    color:rgb(51, 69, 233);
    font-weight:bold;

    transition:.3s;
}

.Menu a:hover{

    color:#ffd166;
}

.Producto {
    display: flex;
    align-items: center;
    gap: 40px;
}
.Libro{
    width: max-content;
    height: max-content;
    border-radius: 35px;
    object-fit: cover;
    margin-left: 40px;

}
.Libro img{
    border-radius: 25px;
    transition: .4s;
    
}
.Libro img:hover{
    transform: scale(1.08);
}
.Detalles-Producto{
    margin: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    font-size: 5mm;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
.Detalles-Producto h1{
    margin-bottom: 20px;
}
.Info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 130px;
    font-size: 3mm;
}
.Precio{
    
    font-size: 6mm;
}
    .Detalles-Producto button{
      width:220px;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#1d3557;

    color:rgb(223, 200, 200);

    cursor:pointer;

    font-size:16px;
    
    }
    .Botones{
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .Sinopsis{
        text-align: left;
    }
